html,
body {
  color: #666;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

body {
  height: 100vh;
  height: 100dvh;
  display: grid;
  grid-template-rows: 1fr min-content;
}

a {
  color: #ce9ffc;
  text-decoration: none;
}

a:hover {
  color: #7367f0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin-bottom: 50px;
}

@media (min-width: 421px) {
  .header {
    align-items: end;
  }
}

.header > .title {
  font-size: 4.5rem;
  font-weight: 900;
  margin: 0;
}

.header > .title > .gradient {
  background: -webkit-linear-gradient(45deg, #ce9ffc, #7367f0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content {
  margin-top: 60px;
}

.copy-text {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  font-size: 1.2rem;
  font-weight: 500;
  color: #000;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, #ce9ffc, #7367f0) border-box;
  border-radius: 4px;
  border: 3px solid transparent;
  text-align: center;
  margin-bottom: 30px;
}

.footer {
  padding: 10px 30px;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: baseline;
  background: #000;
  color: #fff;
}

@media (min-width: 480px) {
  .footer {
    flex-direction: row;
    justify-content: end;
    gap: 30px;
  }
}
